<div id="game-area">
  <div id="map">
    <div id="main-panel" class="centered-panel white-panel medium-panel" *ngIf="centerPanelShouldShow()">
      <div id="main-menu" *ngIf="menuState === MenuStates.Menu">
        <!-- <mat-icon>settings</mat-icon> -->
        <div class="default-font menu-title">ChipsMMO</div>
        <button (click)="playGame()" class="menu-button button-full">Play</button>
        <button (click)="goToLogin()" *ngIf="loginState !== LoginStates.LoggedIn" class="menu-button button-half">Log In</button>
        <button (click)="logout()" *ngIf="loginState == LoginStates.LoggedIn" class="menu-button button-half">Log Out</button>
        <button (click)="goToLobbies()" class="menu-button button-half">Lobbies</button>
      </div>
      <div id="login-menu" *ngIf="menuState === MenuStates.Login">
        <form [formGroup]="forms.loginForm" (ngSubmit)="logIntoAccount()">
          <input formControlName="username" type="text" placeholder="Username">
          <input formControlName="password" type="password" placeholder="Password">
          <button type="submit" class="btn btn-dark" [disabled]="!forms.loginForm.valid">Login</button>
          <button (click)="goToMenu()" class="btn btn-dark">Cancel</button>
          <div class="default-font default-margin text-sm"><a (click)="goToCreateAccount()">Create an account</a> to pick your own username.</div>
          <div class="error-font default-margin text-sm" *ngIf="loginState == LoginStates.Failed">Failed to login.</div>
        </form>
      </div>
      <div id="lobbies-input" *ngIf="menuState === MenuStates.Lobbies">
        <div *ngFor="let room of rooms">
          <button (click)="joinRoom(room.name)" class="btn btn-dark" [disabled]="room.playerCount >= room.maxPlayerCount" [ngClass]="{'current-room-text': currentRoom.name === room.name}">{{room.name}} - {{room.playerCount}}/{{room.maxPlayerCount}} ({{room.type === 1 ? 'Competitive' : 'Casual'}})</button>
        </div>
        <button (click)="goToMenu()" class="btn btn-dark">Back</button>
      </div>
      <div class="create-account-menu" *ngIf="menuState === MenuStates.CreateAccount">
        <form [formGroup]="forms.createAccountForm" (ngSubmit)="createAccount()">
          <input formControlName="username" type="text" placeholder="Username">
          <input formControlName="password" type="password" placeholder="Password">
          <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
          <input formControlName="email" type="text" placeholder="Email (Optional)">
          <button type="submit" class="btn btn-dark" [disabled]="!forms.createAccountForm.valid">Create Account</button>
          <div class="errorText" *ngIf="!forms.createAccountForm.valid">Not ready</div>
          <button (click)="goToMenu()" class="btn btn-dark">Cancel</button>
          <div class="errorText" *ngIf="loginState == LoginStates.Failed">Failed to create account. Username may already exist.</div>
        </form>
      </div>
      <div class="default-font default-margin text-md" *ngIf="menuState === MenuStates.Playing && gameState === GameStates.Starting">
        Starting in {{ gameInformation.time }} seconds...
      </div>
      <div class="default-font default-margin text-md" *ngIf="menuState === MenuStates.Loading">
        Loading...
      </div>
      <div class="default-font default-margin text-md" *ngIf="menuState === MenuStates.Respawning && gameState === GameStates.Playing">
        Respawning soon...
      </div>
    </div>
    <div id="footer-panel" class="centered-footer-panel white-panel wide-panel" *ngIf="centerFooterPanelShouldShow()">
      <div class="error-font default-margin text-sm"><strong>NOTE: This site is in early development! Do not expect account info to stick around!</strong></div>
      <div class="error-font default-margin text-sm">The good news? Making an account takes about 5 seconds.</div>
    </div>
  </div>
</div>
