#game-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -40;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./../chip_background.png');
  padding: 112px 160px;
  border: 1px solid black;
}

.white-panel {
  background: white;
  padding: 10px;
  z-index: 40;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
}

.medium-panel {
  width: 240px;
}

.wide-panel {
  width: 360px;
}

#waitingMessage {
  font-size: 14px;
}

.menu-button {
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
  background-color: #54c800;
  border-color: #54c800;
  border: 1px solid transparent;
  border-radius: 4px;
  font: 400 13.3333px Arial;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
  height: 34px;
  margin: 2px;
  cursor: pointer;
}

.menu-title {
  font-size: 40px;
  font-weight: bold;
  margin: 12px;
}

.button-half {
  width: 108px;
}

.button-full {
  width: 220px;
}

#main-panel button:hover {
  background: #347F01;
}

#main-panel button:disabled {
  background: gray;
}

#main-panel input {
  width: 80%;
  margin: 2px 5px 10px 5px;
  border-radius: 5px;
}

.default-font {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.error-font {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.default-margin {
  margin: 4px;
}

.text-centered {
  text-align: center;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 16px;
}

.text-l {
  font-size: 24px;
}

.text-xl {
  font-size: 32px;
}

a {
  color: green;
  cursor: pointer;
}

.current-room-text {
  background: #054232 !important;
}

.centered-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-footer-panel {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}
